mixin navbarLink(name, link = '#')
  li
    a(href=link class=pageTitle==name?'active':'' )= name

nav.navbar
  .container
    h2= title
    ul
      each link in links
        +navbarLink(link.name)
