normalize()
box-sizing-reset()

body
  background $light-color
  color $dark-color
  font-family $body-font

section
  padding 40px 20px

h1,
h2,
h3,
h4,
h5,
h6
  font-family $head-font

.container
  center()
  +above('s')
    center(540px, 15px)
  +above('m')
    center(720px, 15px)
  +above('l')
    center(920px, 15px)
  +above('xl')
    center(1140px, 15px)

.overlay
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(darken($main-color, 60%), 0.35)
  z-index 1

.special-heading
  position relative
  font-family $special-font
  &:after
    content ""
    display block
    position absolute
    top 35px
    left 0
    width 40px
    border-bottom 3px solid $dark-color

.scroll
  visibility hidden
  
.seprator
  padding 1px solid $dark-color
