normalize()
box-sizing-reset()

body
  background $light-color
  color $dark-color
  font-family $body-font

section
  padding 40px 20px

h1,
h2,
h3,
h4,
h5,
h6
  font-family $head-font

.container
  center()
  +above('s')
    center(540px, 15px)
  +above('m')
    center(720px, 15px)
  +above('l')
    center(920px, 15px)
  +above('xl')
    center(1140px, 15px)

.overlay
  absolute 0
  background-color rgba(darken($main-color, 50%), .2)
  z-index 1

.special-heading
  font-family $special-font
  position relative
  &:after
    absolute 35px false false 0
    border-bottom 3px solid $dark-color
    content ""
    display block
    width 40px

.scroll
  visibility hidden

.seprator
  padding 1px solid $dark-color
