.laptop
  fa(laptop)
.cloud
  fa(cloud)
.lightbulb
  fa(lightbulb-o)
.envelope
  fa(envelope)
.video
  fa(video-camera)
.brush
  fa(paint-brush)

.facebook
  fa(facebook)
.twitter
  fa(twitter)
.github
  fa(github)
