$main-color = #E94F37
$secondary-color = #F6F5F3
$dark-color = #393E41
$light-color = #F6F7EB



$head-font = 'Baloo Bhaina', cursive
$body-font = 'Roboto', sans-serif
$special-font = 'Baloo Bhaina', cursive
