footer
  background $dark-color
  color $light-color
  clearfix()
  span
    float left
    margin-top 15px
    +below('s')
      display inline-block
      float none
      margin auto
      padding-top 20px
      text-align center
      width 100%
  ul
    float right
    padding 0
    +below('s')
      display inline-block
      float none
      margin 7px auto
      text-align center
      width 100%
    li
      cursor pointer
      display inline-block
      margin-left 20px
      +below('s')
        column(1/3)
      a
        color $light-color
        text-decoration none
