.navbar
  background $dark-color
  color $light-color
  position: fixed
  width 100%
  z-index 3
  padding-top 20px
  font-family $special-font
  h2
    color $main-color
    text-transform uppercase
    margin 0 0 15px
    float left
    font-family $special-font
    +below('s')
      // width 100%
      text-align center
      center()
      margin 0
      // shift(1/3)
  ul
    float right
    margin 0 0 15px
    +below('s')
      text-align center
      width 100%
      margin 10px
    li
      list-style none
      display inline
      margin 0 15px
      +below('s')
        text-align center
        span(1/3)
      a
        color $light-color
        text-decoration none
        &:hover,
        &.active
          color $main-color
