.showcase
  height 100vh
  background url('../images/showcase.jpg') center center
  color $light-color
  font-size 16px
  line-height 1.6
  background-size cover
  .container
    align(both)
    text-align center
    width 80%
  span
    color $main-color
    font-family 'Baloo Bhaina', cursive
  h1
    color $light-color
