.showcase
  height 100vh
  background url('../images/showcase.jpg') center center
  color $light-color
  font-size 16px
  line-height 1.6
  background-size cover
  .container
    align(both)
    text-align center
    width 80%
  span
    margin-left 10px
    color $main-color
    text-transform uppercase
    font-family $special-font
    +below('l')
      display block
