.our-team
  // padding 30px
  .text
    stack()
    margin-bottom 30px
    +above('m')
      column(1/2)
    +above('l')
      column(2/7)

  .members
    stack()
    +above('m')
      column(1/2)
    +above('l')
      column(5/7)
  .member
    column(1/2, $cycle: 2, $gutter: 5)
    margin-bottom 15px
    +above('l')
      column(1/4, $cycle: 4)
      margin-bottom 0
    position relative
    img
      width 100%
    .overlay
      text-align center
      vertical-align center
      background-color rgba($main-color, .5)
      opacity 0
      transition: all .5s easing("in-out-quad")
      &:hover
        opacity 1
      span
        align(both)
        display inline-block
        color $light-color
        font-size 25px
        font-family $roboto
