extends layouts/default
block content
  section.showcase
    .overlay
      .container
        h1.responsive_headline
          | Welcome to my
          span Template
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  section.services
    .container
      h2.special-heading Our services
      .ser-wrapper
        .service
          i.icon.laptop
          .content
            h3 Responsive Layout
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .service
          i.icon.cloud
          .content
            h3 Cloud Services
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .service
          i.icon.lightbulb
          .content
            h3 Fresh Ideas
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .service
          i.icon.envelope
          .content
            h3 Attachments
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .service
          i.icon.video
          .content
            h3 Support Video
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .service
          i.icon.brush
          .content
            h3 Lovely Design
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .container
    hr.seprator
      //- end services
  section.our-team
    .container
      .text
        h2.special-heading Our team
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .members
        .member
          .overlay
            span Jane
          img(src="images/member1.jpg")
        .member
          .overlay
            span Sylvester
          img(src="images/member2.jpg")
        .member
          .overlay
            span Peter
          img(src="images/member3.jpg")
        .member
          .overlay
            span Eva
          img(src="images/member4.jpg")

  //- end team
  footer
    .container
      span Copytight &copy; 2015 All right reserved

      ul
        li
          a.facebook
        li
          a.twitter
        li
          a.github
