{% set title = 'Home' %}
{% extends "layouts/default.njk" %}

{% block content %}
  <section class="showcase">
    <div class="overlay">
      <div class="container">
        <h1 class="responsive_headline">Welcome to my <span>Template</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 class="special-heading">Our services</h2>
      <div class="ser-wrapper">
        <div class="service">
          <i class="icon laptop"></i>
          <div class="content">
            <h3>Responsive Layout</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="service">
          <i class="icon cloud"></i>
          <div class="content">
            <h3>Cloud Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="service">
          <i class="icon lightbulb"></i>
          <div class="content">
            <h3>Fresh Ideas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="service">
          <i class="icon envelope"></i>
          <div class="content">
            <h3>Attachments</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="service">
          <i class="icon video"></i>
          <div class="content">
            <h3>Support Video</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="service">
          <i class="icon brush fa fa-2x"></i>
          <div class="content">
            <h3>Lovely Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
{% endblock %}
