extends layouts/default
include mixins/service
include mixins/member

block append config
  - let pageTitle = 'Home'

block content
  section.showcase
    .overlay
      .container
        h1.responsive_headline Welcome to
          span= title
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  section.services
    .container
      h2.special-heading Our services
      .ser-wrapper
        each service in services
          +service(service.icon, service.name, service.description)
  .container
    hr.seprator
      //- end services
  section.our-team.wow.bounceInUp
    .container
      .text
        h2.special-heading.wow.fadeInLeft Our team
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .members
        each member in members
          +member(member.name, member.image)

  //- end team
  footer
    .container
      span Copytight &copy; 2015 All right reserved

      ul
        li
          a.facebook(href="https://facebook.com")
        li
          a.twitter
        li
          a.github
