block config

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild


  body

    include ../includes/loader

    include ../includes/navbar

    block content


    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    script(src='scripts/jquery.fittext.js')
    script(src='/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js')
    script(src='/bower_components/scrollreveal/dist/scrollreveal.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

//    script
//     | var species = !{JSON.stringify(title)}
//     | console.log(species)
